body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 1.5rem;
  margin-top: 2rem;
}

.container {
  display: flex;
  width: 90vw;
  margin-top: 2rem;
}

.img-div {
  background-size: auto 100%;
  background-position: center;
  height: 80vh;
  border-radius: 30px;
  cursor: pointer;
  flex: 0.5;
  position: relative;
  transition: flex 0.5s ease;
}

.img-div.active {
  flex: 5;
}

.img-div h2 {
  font-size: 1.5rem;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.img-div.active h2 {
  opacity: 1;
}

.web {
  color: red;
  animation: webColor 5s ease-in-out 2s infinite alternate;
}

@keyframes webColor {
  0% { color: red; }
  25% { color: red; }
  40% { color: black; }
  50% { color: aqua; }
  60% { color: blue; }
  65% { color: purple; }
  75% { color: deepskyblue; }
  100% { color: red; }
}
